.gg {
    display: flex;
    justify-content: space-between;
    border-bottom: dashed;
    color: grey;
    margin-top: 30px;
    padding: 20px;
    gap: 10px;
}

.end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.icon {
    display: flex;
    gap: 10px;
}