.Gbtn:hover {
    width: 250px;
}

.Conimg:hover .overlay{
    opacity: 0.5;
}

.Conimg:hover .Fimg{
    transform: scale(1.1);
}


.sbtn:hover{
    background-color: white;
    width: 70px;
    align-items: center;
    justify-content: center;
    transform: scale(1.1);
}

img:hover .overlay{
    opacity: 0.5;
}